/*  your css code here. If applicable */
table{
	background-color:yellow;
	border:1px solid black;
	border-top:1px solid gray;	
    border-left:1px solid gray;
}
th{
  border:1px solid black;
  border-right:1px solid gray;	
  border-bottom:1px solid gray;	
}
td{
	border:1px solid black;
	border-right:1px solid gray;	
    border-bottom:1px solid gray;
}

